<div class="row">
	<aside class="col-md-4">
		<li>
			<%= link_to line.index, line %>
			<%= line.content %>
			<% if current_user.admin? %>
				<%= link_to "edit", edit_line_path(line), :class => "edit" %>
				<%= link_to "delete", line, method: :delete, data: { confirm: "You sure?" }, :class => "delete" %>
			<% end %>
		</li>
	</aside>
	<div class="col-md-8">
	</div>
</div>