<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
Get help on the Chaos Predictor Tutorial at the
<a href="http://www.chaospredictor.com/#help">Chaos Predictor help section</a>.
To get help on this web app, see the
<a href="http://www.chaospredictor.com/book"><em>Chaos Predictor Tutorial</em>
book</a>.
</p>