<div class="center jumbotron">
	<% if logged_in? %>
		<%= render 'static_pages/home_logedin' %>
	<% else %>
		<%= render 'static_pages/home_notlogedin' %>
	<% end %>
</div>
<!--%= link_to image_tag("Linux.png", alt: "Rails logo"), 'http://www.chaospredictor.com/' %-->