<div class="row">
	<div class = "col-md-4">
		<%= link_to operating_system.name, operating_system %>
	</div>			
	<div class = "col-md-4">
	<% if current_user != nil && current_user.admin? %>
				<%= link_to "edit", edit_operating_system_path(operating_system), :class => "edit" %>
				<%= link_to "delete", operating_system, method: :delete, data: { confirm: "You sure?" }, :class => "delete" %>
	<% end %>
	</div>
	<div class = "col-md-3">
	</div>			
</div>